*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
#main-banner{
    position: relative;
}
#main-banner-img{
    height: auto;
}
#main-banner-writ{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
    color: #fff;
}
.logo img{
    width: 200px;
}
#main-banner video{
    width: 100%;
}
.main-banner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}
.main-banner-header i{
    font-size: 1.75rem;
}
.be-seen{
    margin-top: 3rem;
}
.be-seen h1{
    font-size: 7rem;
}
.be-seen h3{
    background-color: rgb(211, 0, 0);
    width: 25%;
    margin-inline: auto;
}
